<div class="container">
<h1 class="d-flex justivy-content-center">Create Profile</h1>
<br>
<hr>
<ul>
    <li>Name: {{user.firstName}}</li>
</ul>

<form action="" method="post">
    <div class="form-group">
        <label for="">Number of Pets</label>
        <input type="text" name="numOfPets" class="form-control" id="" placeholder="Enter number">
        <br>
        <label for="">Location</label>
        <input type="text" name="location" class="form-control" id="" placeholder="Enter your location">
        <br>
        <label for="">Veteriary Provider</label>
        <input type="text" name="vetProvider" class="form-control" id="" placeholder="Enter veterinary provider name">
    </div>
    <input type="submit" value="save" class="btn btn-primary">
</form>
</div>

