<div class="container">
<h1 class="d-flex justivy-content-center">Edit Profile</h1>
<br>
<hr>
<ul>
    <li>Name: {{user.firstName}}</li>
    <li>Number of Pets: </li>
    <li>Location: </li>
    <li>Veterinary Provider: </li>
</ul>
</div>